# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:BabySkeleton=true
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:artifacts.mimic=false
    B:atum.assassin=false
    B:atum.barbarian=false
    B:atum.bonestorm=false
    B:atum.brigand=false
    B:atum.forsaken=false
    B:atum.mummy=false
    B:atum.nomad=false
    B:atum.pharaoh=false
    B:atum.scarab=false
    B:atum.stoneguard=false
    B:atum.stonewarden=false
    B:atum.tarantula=false
    B:atum.warlord=false
    B:atum.wraith=false
    B:beneath.shadow=false
    B:bossskeleton=true
    B:bosszombie=true
    B:bwm_jungle_spider=true
    B:"charm:spectre"=false
    B:drop_spider=false
    B:"ebwizardry:blaze_minion"=false
    B:"ebwizardry:evil_wizard"=false
    B:"ebwizardry:husk_minion"=true
    B:"ebwizardry:ice_wraith"=false
    B:"ebwizardry:lightning_wraith"=false
    B:"ebwizardry:magic_slime"=false
    B:"ebwizardry:remnant"=false
    B:"ebwizardry:silverfish_minion"=false
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:stray_minion"=true
    B:"ebwizardry:vex_minion"=false
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:zombie_minion"=true
    B:ender_mailman=false
    B:entity_sheared_creeper=false
    B:erebus.antlion=false
    B:erebus.antlion_boss=false
    B:erebus.antlion_mini_boss=false
    B:erebus.bed_bug=false
    B:erebus.black_widow=false
    B:erebus.bog_maw=false
    B:erebus.bombardier_beetle=false
    B:erebus.bombardier_beetle_larva=false
    B:erebus.bot_fly=false
    B:erebus.bot_fly_larva=false
    B:erebus.centipede=false
    B:erebus.chameleon_tick=false
    B:erebus.crushroom=false
    B:erebus.dragon_fly=false
    B:erebus.fire_ant=false
    B:erebus.fire_ant_soldier=false
    B:erebus.jumping_spider=true
    B:erebus.lava_web_spider=false
    B:erebus.locust=false
    B:erebus.magma_crawler=false
    B:erebus.midge_swarm=false
    B:erebus.money_spider=false
    B:erebus.mosquito=false
    B:erebus.pond_skater=false
    B:erebus.praying_mantis=false
    B:erebus.punchroom=false
    B:erebus.scorpion=false
    B:erebus.scytodes=false
    B:erebus.solifuge=false
    B:erebus.solifuge_small=false
    B:erebus.tarantula=false
    B:erebus.tarantula_baby=false
    B:erebus.tarantula_mini_boss=false
    B:erebus.umber_golem_idol=false
    B:erebus.velvet_worm=false
    B:erebus.wasp=false
    B:erebus.zombie_ant=false
    B:erebus.zombie_ant_soldier=false
    B:evilpigmanmage=false
    B:fieryimp=false
    B:foundry.gunSkeleton=true
    B:frigispitor=false
    B:hostilebat=false
    B:"magnum:horde_spider"=false
    B:"magnum:mad_baby"=false
    B:midnight.hunter=false
    B:midnight.nova=false
    B:midnight.penumbrian=false
    B:midnight.rifter=false
    B:midnight.stinger=false
    B:midnight.tree_hopper=false
    B:morprous=false
    B:nethercyclop=false
    B:piratecaptainpigmanzombie=false
    B:piratepigmanzombie=false
    B:"primal:bear_black"=false
    B:"primal:bear_brown"=false
    B:"primal:canis_campestris"=false
    B:"primal:creeper_nether"=false
    B:"primal:gator"=false
    B:"primal:shark_hammerhead"=false
    B:primitivemobs.baby_spider=false
    B:primitivemobs.bewitched_tome=false
    B:primitivemobs.blazing_juggernaut=false
    B:primitivemobs.brain_slime=false
    B:primitivemobs.festive_creeper=false
    B:primitivemobs.flame_spewer=false
    B:primitivemobs.goblin=false
    B:primitivemobs.harpy=false
    B:primitivemobs.haunted_tool=false
    B:primitivemobs.mimic=false
    B:primitivemobs.mother_spider=false
    B:primitivemobs.rocket_creeper=false
    B:primitivemobs.skeleton_warrior=true
    B:primitivemobs.support_creeper=false
    B:primitivemobs.treasure_slime=false
    B:primitivemobs.trollager=false
    B:pvj_banshee=false
    B:pvj_ghost=false
    B:pvj_goon=false
    B:pvj_icecube=false
    B:pvj_shade=false
    B:pvj_skeletal_knight=true
    B:pvj_watcher=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:wraith"=true
    B:shadowlurker=false
    B:tconstruct.blueslime=false
    B:theaurorian.aurorianslime=false
    B:theaurorian.crystallinesprite=false
    B:theaurorian.disturbedhollow=false
    B:theaurorian.moonacolyte=false
    B:theaurorian.moonqueen=false
    B:theaurorian.runestonedungeonkeeper=false
    B:theaurorian.spider=false
    B:theaurorian.spirit=false
    B:theaurorian.undeadknight=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.ash_sprite=false
    B:thebetweenlands.barrishee=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.boulder_sprite=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.chiromaw_greebling_rider=false
    B:thebetweenlands.chiromaw_matriarch=false
    B:thebetweenlands.crypt_crawler=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=false
    B:thebetweenlands.emberling_shaman=false
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.large_sludge_worm=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.moving_spawner_hole=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.shambler=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.sludge_menace=false
    B:thebetweenlands.small_sludge_worm=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.spirit_tree_face_large=false
    B:thebetweenlands.spirit_tree_face_small=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.tiny_sludge_worm=false
    B:thebetweenlands.tiny_sludge_worm_helper=false
    B:thebetweenlands.wall_lamprey=false
    B:thebetweenlands.wall_living_root=false
    B:thebetweenlands.wight=false
    B:thebetweenlands.wild_emberling=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:"varodd:bulette"=false
    B:"varodd:end_golem"=false
    B:"varodd:giant_crab"=false
    B:"varodd:giant_zombie"=false
    B:"varodd:goblin"=false
    B:"varodd:megaraptor"=false
    B:"varodd:mimic"=false
    B:"varodd:nether_golem"=false
    B:"varodd:ogre"=false
    B:"varodd:player_skull"=false
    B:"varodd:rat"=false
    B:"varodd:rat_giant"=false
    B:"varodd:scorpion_giant"=false
    B:"varodd:skull"=false
    B:"varodd:troll"=false
    B:"varodd:tyrannosaurus"=false
    B:"varodd:uberwidren"=false
    B:"varodd:velociraptor"=false
    B:"varodd:zombie_kobold"=false
    B:wasp=false
    B:whisper=false
    B:zombiepigmanmagician=false
}


